.quote-box{
    background-color: #192A32;
    width: 400px;
    height: 400px;
    border-radius: 18px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    font-weight: 700;
    position: absolute;
    bottom: 40px;
    left: 40px;

}
.quote-text{
    color: #F2B237;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 30px;
    line-height: 1.5;
}
.quote-no{
    color: #31C4BE;
    font-size: 35px;
    
    line-height: 1.5;
    padding-top: 40px;

}
.quote-logo{
    margin-bottom: 10px;
}